* {
	padding:0;
	margin:0;
}

body {

    overflow:hidden;
	
	height:100%;
	width:80%;
	left:50px;
	color: #333;
	font: 16px Arial;
	padding: 50px;
	background-image: url(./icons/gbase.jpg);
    background-position: center;
   
}
img, a {border:none, outline: none;}
 a {
     text-decoration: none;
    }
input:valid {
  color: green;
}
input:invalid {
  color: red;
}
h1 {
	text-align: center;
	padding: 30px 0 12px 0;
	margin: 0;
	color:red;
	font-size: 30px;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

#container2 {
	top:1%;
	left:10%;
	position:absolute;
	overflow-y: hidden;
	overflow-x:hidden;
    height: 10%;
	width:77.7%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
}
#container4 {
	top:11%;
	left:10%;
	position:absolute;
	overflow-y: scroll;
	overflow-x: hidden;
    height: 89%;
	width:78%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
}

#editA{
	display:none;
	top:1%;
	left:9%;
	position:absolute;
	overflow-y: hidden;
	overflow-x: hidden;
    height:95%;
	width:80%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
opacity: 0.99;}
#t{
	top:10%;
	 left:1%;
      resize: none;
 position:absolute;
       overflow: scroll;
   height: 550px;
  width:98%;
 font: 20px Arial;
  color:rainbow;
  opacity: 0.99;
 }

#cf,#nf{
	display:none;
	top:8%;
	left:25%;
	position:absolute;
	overflow-y: hidden;
	overflow-x:hidden;
    height: 50px;
	width:350px;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,1);
	background: #DCDCDC; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.99;
	}
	#c{
 display:block;
    width:30px;
    height:30px;
    border: 2px;
    border-radius: 50%;
    color:white;
    text-align:center;
    text-decoration:none;
    background: red;
    font-size:20px;
	margin-left: 20px;
	margin-top: 10px;
    font-weight:bold;
	}
	li {
    list-style-position:inside;
    border: 1px solid black;
}
input[type='text']{
	margin-top: 10px;
	margin-left: 10px;
 position:relative;
      overflow:hidden;  
   height:28px;
  width: 200px;
 font: 16px Arial;
  color:rainbow;
}
input[type='submit']{	
	padding: 5px 12.5px 4px; 
	color: #fff; 
	background-color: Green;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid green; 
	border-radius: 2px;
	margin-top: 10px;
 cursor:pointer;
}


#a
{
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Blue;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid Blue; 
	border-radius:25px;
	margin-top: 10px;
 cursor:pointer;}
 
 #ax
{
	margin-left: 1%;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Blue;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid Blue; 
	border-radius:25px;
	margin-top: 10px;
 cursor:pointer;}
 #bx
{
	float:right;
margin-left: 1%;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: RED;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid RED; 
	border-radius:50px;
	margin-top: -2%;
 cursor:pointer;}
 
#b,#del
{
	float:right;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Red;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid Red; 
	border-radius:25px;
	margin-top: 10px;
 cursor:pointer;}
 #bxx{
	left:45%;
	position:absolute;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Red;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid Red; 
	border-radius:25px;
	margin-top: 10px;
 cursor:pointer; 
	 
 }
 
#addf,#addfol{
float:right;
	padding: 0px 0px 0px; 
	color: #fff; 
	background-color: white;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid white; 
	margin-top: 0px;
 cursor:pointer;
}
#tbh{
	width:100%;
	height:80px;
	display: flex;
}
#ha,#hb,#hc,#hd,#he,#hf{
	height:50%;
	vertical-align: middle;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Blue;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px; 
	border: 1px solid black; 
	border-radius: 2px;
	margin-top: 10px;
}
#ha{
	width:8%;
	}
#hb{
	width:47%;
	}
#hc{
	width:14%;
	}
#hd{
	width:10%;
		}
#he{
	width:10%;
		}
#hf{
	width:20%;
	}
#tb{
	width:100%;
	height:50px;
	display: flex;
}
#ba,#bb,#bc,#bd,#be,#bf{
	
	vertical-align: middle;
	padding: 4px 11px 4px; 
	color: ; 
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px; 
	border: 1px solid lightgrey; 
	border-radius: 2px;
	margin-top: 0px;
}
#ba{
	width:8%;
	}
#bb{
	width:48%;
	}
#bc{
	width:14%;
	}
#bd{
	width:10%;
		}
#be{
	width:10%;
		}
#bf{
	width:20%;
	}
	

.center {
  text-align: center;
}

.menu {
  width: 150px;
  z-index: 1;
  background: #DCDCDC;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 1);
  position: fixed;
  display: none;
  transition: 0.2s display ease-in;
}
.menu .menu-options {
  list-style: none;
   padding: 10px 0;
  z-index: 1;
}
.menu .menu-options .menu-option {
  font-weight: 500;
  z-index: 1;
  font-size: 15px bold;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.menu .menu-options .menu-option:hover {
	color:blue;
  background: rgba(0, 0, 0, 0.2);
}


@keyframes move {
  from {
    transform: translate(0%);
  }
  50% {
    transform: translate(-40%);
  }
  to {
    transform: transform(0%);
  }
}
	
@media only screen and (max-width: 768px) {
  body {
    
  }
  body:after {
	  background-color:WHITE;
	  color:RED;
  content: '!! ERROR File Manager requires atleast 1024x768 screen !! ';
  }
  #container2, #container4{ display:none;}
}